/*--------------------------------------*/
/* Setting the height and weight 
to the border edges*/
/*For All elements on HTML page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-clip: border-box;
}

/*adjust fonts which used on website*/
@font-face {
    font-family: 'Somarsans';
    src: url('https://assets.website-files.com/614319338322d2f96eb4dd96/61df3584a1e80080467de4a7_SomarSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Somarsans';
    src: url('https://assets.website-files.com/614319338322d2f96eb4dd96/61df3584cfaf945f56963136_SomarSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Somarsans';
    src: url('https://assets.website-files.com/614319338322d2f96eb4dd96/61df35844e1ac4b24c7b07bb_SomarSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Somarsans';
    src: url('https://assets.website-files.com/614319338322d2f96eb4dd96/61df359806da051a8c73e30c_SomarSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*--------------------------------------*/
/*adjsut body */
body {
    display: block;
    font-family: Somarsans, sans-serif;
    margin: 0;
    min-height: 100%;
    color: #64748b;
    letter-spacing: -.5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4em;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgba(240, 253, 250, .6);

}

/*adjust any div to display block unitl
 someone overwrite it*/
div {
    display: block;
}

/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*Header*/
header {
    display: block;
    position: relative;
    /*background-color: #f0fdfa;*/
    direction: rtl;
    padding-top: 28px;
    padding-bottom: 28px;
    opacity: 1;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: center;
}

/*This section will contain all parts of navbar*/
.continarNav {
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
}

/*header box will contain the two parts on navbar*/
.headerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*it will contain the right nav bar*/
.rightNavbar {
    display: block;
    position: relative;
    float: right;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
}

/*adjust the right navbar*/
ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: right;
    cursor: pointer;
}

/*For content of right nav bar*/
a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-left: 25px;
    padding-right: 15px;
    margin-top: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.111em;

}

.rightNavbar ul li a:hover {
    color: #0f766e;
}

/*adjust the header rgiht icon by id*/
#pic1 {
    max-width: 100%;
    vertical-align: middle;
    height: 50px;
    max-height: fit-content;
    margin-left: 70px;
    margin-right: 30px;
}

/*--------------------------------------*/
/*it will contain the right nav bar*/
.leftNavbar {
    display: flex;
    direction: rtl;
    margin-bottom: 10px;

}

.button1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    padding: 15px 17px;
    margin-bottom: 5px;
    margin-left: 20px;
}

/*تسجيل الدخول*/
.button1:hover {
    background-color: #0f766e;
    color: white;
    border: 1px solid #0f766e;
    border-radius: 10000px;
    text-align: center;
    margin-top: 15px;
    transition: transform .3s, color .3s,
        background-color .3s;
}

/*ابدأ 7 ايام مجانا*/
.button2 {
    font-weight: 600;
    font-size: 20px;
    padding: 15px 25px;
    background-color: #0f766e;
    border: 1px solid #0f766e;
    border-radius: 10000px;
    color: white;
    line-height: 120%;
    word-spacing: 1px;
    margin-left: 10px;
    margin-right: 17px;
}

.button2:hover {
    background-color: #0a5c55;
}

/*ُEnglish: the most left word in page*/
.smborder {
    display: inline-block;
    position: relative;
    direction: ltr;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
}


.smborder img {
    padding-top: 15px;
    margin-left: 7px;
    height: 35px;

}

.dropdown {
    display: none;
    position: absolute;
    color: #000;
    background-color: #ccfbf1;
    padding: 10px 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.smborder:hover .dropdown {
    display: block;
}

/*--------------------------------------*/
/*------------------BODY----------------*/
/*--------------------------------------*/
/*section 1*/
.section1 {
    position: relative;
    display: block;
    margin-top: 125px;
    padding-top: 30px;
    margin-bottom: 22px;
    text-align: center;
    color: #1e293b;
    letter-spacing: -2px;
    font-weight: 700;
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;
    line-height: 300%;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(123deg, #1e293b 24%, #0d9488 65%);
    -webkit-background-clip: text;
}

/*section2*/
p.section2 {
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 26px;
    color: #64748b;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4em;
    font-family: Somarsans, sans-serif;
}

/*section3*/
.section3 {
    display: block;
    justify-content: center;
    position: relative;
    margin-bottom: 5px;
}

.GBT {
    display: inline-block;
    position: relative;
    text-align: center;
    border: 1px solid green;
    border-radius: 700px;
    background-color: #0d9488;
    color: white;
    overflow: hidden;
    font-weight: 600;
    line-height: 1em;
    word-spacing: 5px;
    letter-spacing: -.5px;
    padding: 20px 30px 18px;
}

/*the video which in the page = section4*/
#section4 {
    margin-top: 10px;
    border: 3px solid #ECECEC;
    border-radius: 20px;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 50px;
}

/*section6=the part which under the video directly*/
.section6 {
    width: 92%;
    display: block;
    position: relative;
    justify-content: space-between;
    text-align: right;
    margin-bottom: 100px;
    overflow: hidden;
}

/*right box in section 6*/
.rightbox {
    display: block;
    position: relative;
    float: right;
    width: 600px;
    word-wrap: break-word;

}

h2 {
    display: block;
    direction: rtl;
    line-height: 1.6em;
    letter-spacing: -.04em;
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 3rem;
    color: hsl(0, 0%, 100%);
    width: 600px;
    word-wrap: break-word;
    background-image: linear-gradient(123deg, #1e293b 24%, #0d9488 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rightbox p {
    display: block;
    color: #64748b;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
    font-family: Somarsans, sans-serif;
}

.leftbox {
    display: block;
    position: relative;
    float: right;
    width: 600px;
    word-wrap: break-word;
    margin-right: 50px;
}

.leftnumber {
    color: #1e293b;
    margin-bottom: 0;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
}

.adjust-it {
    color: #64748b;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.7em;
}

#fristspan {
    color: #000;
    font-weight: bolder;
}

.section7 {
    max-width: 1268px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 70px;
    overflow: hidden;
}

#frist-p {
    line-height: 1.6em;
    letter-spacing: -.04em;
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 3.5rem;
    float: right;
    background-image: linear-gradient(123deg, #1e293b 24%, #0d9488 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*section8*/
.section8 {
    max-width: 1268px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    background-color: #ebfcfa;
    border-radius: 35px;
}

.outbox {
    min-height: 580px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    position: relative;
    direction: rtl;
}

/*<!--the paet which content the image -->*/
#imgpart {
    z-index: 1;
    width: 100%;
    max-width: 617px;
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-left: 30px;
    margin-right: 0;
}

.imageadjust {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
    width: 95%;
    border: 1px solid #f3f5f8;
    border-radius: 10px;
    flex: 1;
    margin-bottom: 0;
    margin-left: auto;
    box-shadow: 0 6px 26px rgba(40, 40, 43, .06);
}

/*<!--the paet which content the text -->*/
.textpart {
    flex: 1;
    margin-left: 0;
    margin-right: auto;
    z-index: 1;
    max-width: 43%;
    position: relative;
    text-align: right;
}

#p1 {
    display: block;
    color: #000000;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.289em;
    margin-bottom: 18px;
    margin-top: 0;
}

/*<!--Section 9-->
    <!--icon part which will 
    responsinle for all icons-->*/
.icon-part {
    display: flex;
    position: relative;
    direction: rtl;
    margin: 0 130px;
    margin-bottom: 50px;
}

.icon-style {
    flex: 1;
    display: inline-block;
    margin-right: 7px;
    margin-left: 7px;
    text-align: right;
}

.img-style {
    max-width: 110px;
    margin-bottom: 28px;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    border-radius: 500px;
}

h5 {
    color: #000;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.333em;
}

/*section 13*/
.twobuttons-box {
    display: flex;
    text-align: center;
    direction: rtl;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    cursor: pointer;
}

.secondbt {
    border: 1px solid #0f766e;
    color: #0f766e;
    font-size: inherit;
    word-spacing: 5px;
    letter-spacing: -.5px;
    padding: 20px 40px 18px;
    border-radius: 35px;
    margin-right: 20px;
    font-weight: unset;
}

.secondbt:hover {
    color: whitesmoke;
    background-color: #0a5c55;
}

/*footer*/
.footer {
    background-color: #0f172a;
    border-top: 1px #d5d9e0;
    padding-top: 59px;
    padding-bottom: 29px;
    overflow: hidden;

}

.footer-outer-box {
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;

}

.footer-inner-box {
    z-index: 1;
    justify-content: space-between;
    align-self: stretch;
    padding-top: 78px;
    padding-bottom: 77px;
    display: flex;
    position: relative;
    direction: rtl;
    border-bottom: 0.0001em solid rgb(226, 221, 221);

}

.rightfooter {
    width: 100%;
    max-width: 339px;
    margin-right: 70px;
    text-align: right;
}

#A {
    width: 100px;
    margin-bottom: 12px;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.war {
    margin-bottom: 14px;
    font-size: 17px;
    line-height: 1.714em;
    color: #d5d9e0;
}

.icon-flex {
    flex-wrap: wrap;

    display: flex;
}

.fa {
    padding: 5px;
    font-size: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 7px;
    border-radius: 50%;
}

.fa:hover {
    background-color: #3ad2c6;
    opacity: 0.7;
    color: #000;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.leftfooter {
    width: 100%;
    max-width: 808px;
    justify-content: space-between;
    display: flex;
}

.submenu {
    width: 100%;
    max-width: 510px;
    flex-wrap: wrap;
    margin-bottom: -40px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
}

.submenu1 {
    height: 268px;
    height: 284px;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
}

.word {
    display: block;
    color: white;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.176em;
    float: right;
    width: 268px;
    height: 20px;
    text-align: right;
}

.boxmodel {
    display: flex;
    justify-content: space-between;
    width: 268px;
    height: 205px;
}

.boxmodel1 {
    height: 206px;
    width: 95px;
    text-align: right;
    padding-left: 30px;
}

.boxmodel1 li {

    color: #d5d9e0;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.176em;
    text-decoration: none;
    transition: color .35s;
    font-weight: 500;
    margin-bottom: 12px;
}

.title.text-color-neutral-100 {
    color: #fff;
}

.title.text-color-neutral-100.footer-title {
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.176em;
    text-align: right;
}

.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.footer-support-grid {
    grid-row-gap: 19px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}

a {
    background-color: transparent;
    color: inherit;
    text-decoration: inherit;
    transition: color .3s;
    font-size: inherit;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.footer-support-link {
    color: #64748b;
    background-color: #334d74;
    border-radius: 11px;
    padding: 25px;
    text-decoration: none;
    transition-property: background-color;
    display: flex;
}

a:active,
a:hover {
    outline: 0;
}

a:hover {
    color: #0d9488;
}

.footer-support-link:hover {
    color: #64748b;
    background-color: rgba(255, 255, 255, .2);
}

.image-wrapper {
    align-items: center;
    display: flex;

}

.myimage {
    width: 40px;
    max-height: 40px;
    min-height: 40px;
    min-width: 40px;
    border-radius: 99px;
    margin-right: 10px;
}

.image-wrapper.footer-support-icon.ar {
    margin-left: 10px;
    margin-right: 0;
}

.title.text-color-neutral-100.footer-support {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2em;
}

.footer-support-text {
    color: #d5d9e0;
    font-size: 14px;
    line-height: 1.714em;
}

/*fixed box which move on the page*/
.stickposition {
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: #0d9488;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: rtl;
    height: 70px;
    border-radius: 30px;
}

.rightpart {
    padding-right: 20px;
    margin: 10px 0 10px;
    color: white;
    font-size: 18px;
    line-height: 34px;
    font-weight: 700;
    cursor: pointer;
}

.leftpart {
    display: block;
    position: relative;
    color: #00a991;
    background-color: #fff;
    font-size: 16px;
    border: 1px solid #00a991;
    text-align: center;
    margin-left: 20px;
    border-radius: 30px;
    padding: 10px 13px 10px;
    font-weight: 600;
    cursor: pointer;
}
.leftpart:hover{
    color: white;
    background-color:#06cbad; ;
}